#conteneur {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#button__afficherRegle, #button__cacherRegle {
	position : absolute;
	top : 5px;
	left: 20px;
	width: 100px;
}

#regle {
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	margin : 50px;
	display: none;
}

#regle p {
	padding: 0% 10%;
	text-align: justify;
}

#regle span {
	font-weight: bold;
}


#regle h2 {
	padding: 0% 5%;
	font-size: 1.5em;
	text-decoration: underline;
}

#conteneur:nth-child(1) {
	flex: 3;
}

#conteneur:nth-child(2) {
	flex: 1;
}

#map {
	height: 500px;
	width: 800px;
	z-index: 1;
}

#head {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	background: white;
}

#nameOfGame {
	width: 30%;
	text-align: center;
	font-size: 30px;
	color: #33333C;
}

#joueurs {
	text-align: center;
	width: 30%;
}

#jeu {
	text-align: center;
	width: 20%;
}

#deroulementJeu {
	border-top: 2px solid grey;
	text-align: center;
	width: 20%;
}

#fieldJeu {
	border: 1px solid grey;
}

#inscription {
	text-align: center;
	width: 40%;
}

table {
	width: 80%;
}

table th {
	padding: 8px;
	font-size: large;
}

#risk__information{
	position: absolute;
	z-index: 2;
	background-color: lightgray;
}

img{
	height: 50%;
}


@media screen and (min-width: 200px) and (max-width: 800px) {
	#nameOfGame {
		width: 100%;
	}

	#inscription {
		width: 100%;
	}
}